/* 引入初始化样式文件 */
@import './reset.less';

/* 全局样式 */
.layout {
    width: 100vw;
    max-width: 720px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

/* 头部搜索框 */
.pyg_header {
    height: 45px;
    padding: 4px;
    background-color: #eee;
}

/* 主体部分 */
.pyg_content {
    flex: 1;
    overflow: scroll;
}

/* 底部选项卡 */
.pyg_footer {
    height: 45px;
}

/* 导航栏 */
.pyg_nav {
    width: 100%;
    background-color: #fff;
    padding: 15px 8px;

    >ul {
        display: flex;
        width: 100%;

        >li {
            text-align: center;
            width: 25%;

            a {
                font-size: 13px;
                width: 100%;

                img {
                    width: 50%;
                }

                p {
                    color: #000;
                }
            }
        }
    }
}

/* 商品列表 */
.pyg_goods {
    width: 100%;
    padding: 10px;

    >.allGoods {
        width: 100%;

        >img {
            width: 100%;
            display: block;
        }

        >.sGoods {
            width: 49%;
            float: left;
            margin-top: 10px;
            background-color: #fff;
            overflow: hidden;

            a {
                width: 100%;

                img {
                    width: 100%;
                    display: block;
                }

                p {
                    color: #333;
                    font-size: 12px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }

                p:nth-of-type(2) {
                    color: #f00;
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            a:nth-of-type(2) {
                display: block;
                width: 90%;
                margin: 5px auto;
            }
        }

        div:nth-of-type(even) {
            margin-left: 2%;
        }
    }
}